altgraph
contourpy
cycler
et-xmlfile
fonttools
future
gitdb
GitPython
importlib-resources
kiwisolver
macholib
matplotlib
numpy
openpyxl
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
scipy
six
smmap
tzdata
zipp
